<nav id="past_shows">
  <a href="/hush_hush/index.html">
    <figure>
      <figcaption>
        <p>Hush-Hush in Residence</p>
        <p>March 5th – April 5th 2018</p>
      </figcaption>
      <img src="hush_hush.jpg">
    </figure>
  </a>
  <a href="/alien_artifacts/index.html">
    <figure>
      <figcaption>
        <p>Alien Artifacts</p>
        <p>February 8th - March 15th 2018</p>
      </figcaption>
      <img src="alien_artifacts.jpg">
    </figure>
  </a>
</nav>
