
<figure id="landing-graphic">
  <figcaption style="display:none;">
    <p>Hush-Hush in Residence</p>
    <p>March 5th – April 5th</p>
  </figcaption>
  <a href="/hush-hush/index.html">
    <img src="/hush-hush/homepage.jpg">
  </a>
</figure>
